/* responsive */
/* Layar Tablet */
@media (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  /* navigasi */
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: burlywood;
    line-height: 40px;
    transition: 0.5s;
  }
  nav .menu ul li a {
    color: #fff;
    font-weight: 300;
  }
  /* tombol */
  .tombol {
    font-size: 20px;
  }
  .tombol-menu {
    display: flex;
  }
  /* header */
  header .intro h3 {
    font-size: 30px;
    margin-bottom: 50px;
  }

  /* fasilitas */
  .fas-col img {
    width: 200px;
    height: 185px;
  }
  /* blog */
  .blog .area {
    display: block;
  }
  .blog div.area div {
    width: 100%;
  }
  .blog .area .gambar {
    border-radius: 5px 5px 0px 0px;
    height: 200px;
  }
  .support {
    display: block;
  }
  .support div {
    width: 100%;
    padding-bottom: 30px;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }
  .layer:hover h3 {
    bottom: 6%;
    opacity: 1;
  }
  /* testimonials */
  .testimonials-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
  footer {
    font-size: 10px;
  }
  footer .layar-dalam .fa-brands,
  .fa-solid {
    color: #f44336;
    font-size: 15px;
    padding-right: 3px;
    padding-top: 10px;
  }
}

/* Layar Hp */
@media (max-width: 425px) {
  /* header */
  header {
    height: 250px;
  }
  header .intro h3 {
    font-size: 60px;
    margin: 0;
    color: burlywood;
  }
  header .intro h5 {
    font-size: 17px;
    margin: 0;
    color: burlywood;
  }
  header .intro p {
    font-size: 20px;
    color: burlywood;
  }

  /* ringkasan */
  section p.ringkasan {
    font-style: italic;
    font-size: 14px;
    color: #ababab;
    text-align: justify;
  }
  /* konten isi */
  section .konten-isi p {
    font-style: normal;
    text-align: justify;
  }
  /* Gallery */
  section#gallery {
    display: inline-block;
  }
  section#gallery div img {
    width: 100%;
  }
  .layar-dalam .gal {
    text-align: center;
  }
  section.quote {
    display: none;
  }

  /* team */
  .team {
    display: block;
  }
  .team div {
    text-align: center;
    width: 100%;
  }
}
